@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: flex;
  position: relative;
  justify-content: center;

  background: radial-gradient(
    circle,
    rgb(0, 70, 95) 0%,
    rgba(127, 201, 255, 1) 44%,
    rgba(179, 217, 219, 1) 100%
  );
}
body {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100vh;
  padding: 3em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
