@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: flex;
  position: relative;
  justify-content: center;

  background: radial-gradient(
    circle,
    rgb(0, 70, 95) 0%,
    rgba(127, 201, 255, 1) 44%,
    rgba(179, 217, 219, 1) 100%
  );
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* justify-content: center; */
  align-items: center;
  width: 70%;
  height: 100vh;
  padding: 2em;
}

body > div {
  text-align: center;
}

button {
  background-color: grey;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  background-color: rgba(173, 216, 230, 0.5);
  color: rgb(49, 48, 48);
  border-radius: 5px;
  padding: 0.5em;
  box-shadow: 5px 5px 5px rgb(128, 128, 128);
  margin: 1em 2em;
  transition: 0.3s ease;
}

button:hover {
  background-color: rgb(173, 216, 230);
  transform: scale(1.05);
}

.blank button,
.blank input,
.blank label {
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: 2em;
  padding: 0;
  width: auto;
  background-color: #ffffff;
  color: #ffffff;
}

.blank input:focus {
  background-color: #ffffff;
  transform: none;
  transition: none;
}

input,
label {
  box-shadow: 5px 5px 5px gray;
  border: 1px gray solid;
  border-radius: 5px;
  margin: 1em;
  padding: 0.5em;
  width: 20em;
}

input:focus {
  background-color: rgb(225, 238, 237);
  transform: scale(1.05);
  transition: 0.3s ease;
}

body > div > div {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2em;
  max-width: 100%;
}
