@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: flex;
  position: relative;
  justify-content: center;

  background: radial-gradient(
    circle,
    rgb(0, 70, 95) 0%,
    rgba(127, 201, 255, 1) 44%,
    rgba(179, 217, 219, 1) 100%
  );
}
body {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100vh;
  padding: 3em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* button {
  border-radius: 10%;
  text-decoration: underline;
  text-shadow: 2px 2px rgba(138, 43, 226, 0.5);
} */


button, .p-16 {
  background-color: rgba(173, 216, 230, 0.5);
  color: rgb(49, 48, 48);
  border-radius: 5px;
  padding: 0.5em;
  box-shadow: 5px 5px 5px gray;
  margin: 1em 2em;
}

/* button:hover {
  text-shadow: 5px 2px rgba(138, 43, 226, 0.5);
} */
button:hover {
  background-color: rgb(173, 216, 230);
  transition: 0.25s;
  transform: scale(1.05);
  transition: 0.3s ease;
}

input {
  box-shadow: 5px 5px 5px gray;
  border: 1px gray solid;
  border-radius: 5px;
  margin: 2em;
  padding: 0.5em;
}
input:focus {
  background-color: rgb(225, 238, 237);
  transform: scale(1.05);
  transition: 0.3s ease;
} 
